<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>286874349865-d8je8v8riaqdieq7ldt9tpsk4kvj5nac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.286874349865-d8je8v8riaqdieq7ldt9tpsk4kvj5nac</string>
	<key>API_KEY</key>
	<string>AIzaSyCzW1um-ymlVnXwq3SqquUG_gc-XDfcObI</string>
	<key>GCM_SENDER_ID</key>
	<string>286874349865</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.solomence</string>
	<key>PROJECT_ID</key>
	<string>somnolence-ca87d</string>
	<key>STORAGE_BUCKET</key>
	<string>somnolence-ca87d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:286874349865:ios:cffcadf5b95979529f4738</string>
</dict>
</plist>